# Pandas methods testing

### Creating, loading, and saving of data

In [3]:
# Creation
people = {
    'first' : ['ginger', 'baddie', 'mickey', 'meggy'],
    'last' : ['bread', 'baldie', 'mann', 'muffin'],
    'email' : ['gingerbread@email.com', 'baddiebaldie@email.com', 'mickeymann@email.com', 'meggymuffin@email.com'],
    'sex' : ['male', 'female', 'male', 'female'],
    'age' : [18, 27, 33, 15],
}

In [76]:
# Loading
import pandas as pd

people_dataframe = pd.DataFrame(people)
people_dataframe

TypeError: Index(...) must be called with a collection of some kind, 3 was passed

In [10]:
# Saving to csv
people_dataframe.to_csv('data/people_dataframe.csv')

In [78]:
# Loading from csv file
people_dataframe = pd.read_csv(r'data\people_dataframe.csv', index_col=0)
people_dataframe

    first    last                   email     sex  age
0  ginger   bread   gingerbread@email.com    male   18
1  baddie  baldie  baddiebaldie@email.com  female   27
2  mickey    mann    mickeymann@email.com    male   33
3   meggy  muffin   meggymuffin@email.com  female   15

### Displaying of dataframe and information about it

In [26]:
# Setting display option of dataframe
pd.set_option('display.max_columns', 5)

In [19]:
# Showing numbers of rows  and columns
people_dataframe.shape

(4, 5)

In [20]:
# Showing the columns' information
people_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   first   4 non-null      object
 1   last    4 non-null      object
 2   email   4 non-null      object
 3   sex     4 non-null      object
 4   age     4 non-null      int64
dtypes: int64(1), object(4)
memory usage: 192.0+ bytes

In [27]:
# Statistics about the dataframe
people_dataframe.describe()

             age
count   4.000000
mean   23.250000
std     8.261356
min    15.000000
25%    17.250000
50%    22.500000
75%    28.500000
max    33.000000

### Selecting rows and columns

In [30]:
# Selecting columns
people_dataframe['email']

0     gingerbread@email.com
1    baddiebaldie@email.com
2      mickeymann@email.com
3     meggymuffin@email.com
Name: email, dtype: object

In [32]:
# Selecting multiple columns
people_dataframe[['first', 'last', 'email']]

    first    last                   email
0  ginger   bread   gingerbread@email.com
1  baddie  baldie  baddiebaldie@email.com
2  mickey    mann    mickeymann@email.com
3   meggy  muffin   meggymuffin@email.com

In [38]:
# Selecting rows by index
people_dataframe.iloc[0]

first                   ginger
last                     bread
email    gingerbread@email.com
sex                       male
age                         18
Name: 0, dtype: object

In [49]:
# Selecting multiple rows by index
people_dataframe.iloc[[0,1], 2]

0     gingerbread@email.com
1    baddiebaldie@email.com
Name: email, dtype: object

In [48]:
# Selecting multiple rows with selected columns by index
people_dataframe.iloc[[0,1], [2,3]]

                    email     sex
0   gingerbread@email.com    male
1  baddiebaldie@email.com  female

In [51]:
# Selecting multiple rows with selected columns by label
people_dataframe.loc[[0,1], ['email', 'sex']]

                    email     sex
0   gingerbread@email.com    male
1  baddiebaldie@email.com  female

In [42]:
# Getting single value
people_dataframe.at[0, 'first']

'ginger'

### Filtering the data frame

In [69]:
# Searching through the data frame with given conditions
age_filter = (people_dataframe['age'] <= 20)
people_dataframe.loc[age_filter]

    first    last                  email     sex  age
0  ginger   bread  gingerbread@email.com    male   18
3   meggy  muffin  meggymuffin@email.com  female   15

In [70]:
# Searching through the data frame by given conditions with selected columns
people_dataframe.loc[age_filter, ['first', 'last', 'age']]

    first    last  age
0  ginger   bread   18
3   meggy  muffin   15

### Set, reset, and use index