# SP802 Analysis on Salaries Data Set
---

In [243]:
import pandas as pd
import numpy as np

---
### Initialization

In [244]:
df_salaries = pd.read_csv('../../../data/csv/salaries.csv', low_memory = False, index_col=0)
df_salaries

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [245]:
df_salaries.shape

(148654, 12)

In [246]:
df_salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148654 entries, 1 to 148654
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148049 non-null  object
 3   OvertimePay       148654 non-null  object
 4   OtherPay          148654 non-null  object
 5   Benefits          112495 non-null  object
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int64
 9   Notes             0 non-null       float64
 10  Agency            148654 non-null  object
 11  Status            38119 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 14.7+ MB

---
### Analysis

In [247]:
# What is the total number of records the SF Salaries dataset?
print(f"Total number of records in the SF Salaries dataset: {df_salaries.shape.__getitem__(0)}")

Total number of records in the SF Salaries dataset: 148654

In [248]:
# What was the average (mean) BasePay of all employees for the year 2012?

## Check and replace [None] and ['Not Provided] values with np.nan
df_salaries.loc[df_salaries['BasePay'].isin(['Not Provided', None]), ['BasePay']]
df_salaries['BasePay'] = df_salaries['BasePay'].replace([None, 'Not Provided'], np.nan)

# Converting data type to float as to allow aggregation
df_salaries['BasePay'] = df_salaries['BasePay'].astype(float)

## Getting average base pay of all employees for the year 2012
print(f"Average base pay of all employees in the year 2012: {df_salaries.groupby('Year').get_group(2012)['BasePay'].mean().__round__()}")

Average base pay of all employees in the year 2012: 65436

In [253]:
# How many unique job titles are there?

## Replacing ['Not provided] string values with none
df_salaries['JobTitle'] = df_salaries['JobTitle'].replace([np.nan, 'Not provided'], None)

## Filtering through the data frame by ignoring the [None] values and counting unique job titles
print(f"Nuber of unique job titles: {df_salaries.loc[~df_salaries['JobTitle'].isin([None]), 'JobTitle'].nunique()}")

Nuber of unique job titles: 2158

In [271]:
# What is the name of the agency for which the salaries come from?
print(f"Name of the agency for which the salaries come from: {df_salaries['Agency'].value_counts().keys()[0]}")

Name of the agency for which the salaries come from: San Francisco

In [313]:
# Who has the minimum base pay?
print(f"Employee who has the mininum base pay: {df_salaries.loc[df_salaries['BasePay'].isin([df_salaries['BasePay'].min()]), 'EmployeeName'].values[0]}")

Employee who has the mininum base pay: Irwin Sidharta

In [343]:
# Which year do you think did the employees work more than their prescribed work time in terms of total pay?

## Checking and replacing of string values to [np.NaN]
df_salaries['OvertimePay'] = df_salaries['OvertimePay'].replace(['Not Provided'], np.nan)

## Converting to float data type
df_salaries['OvertimePay'] = df_salaries['OvertimePay'].astype(float)

## Getting year of which employees work more than their prescribed work time in terms of total pay
print(f"Year of which employees work more than their prescribed work time: {df_salaries.loc[df_salaries['OvertimePay'] > 0, 'Year'].value_counts().keys()[0]}")

Year of which employees work more than their prescribed work time: 2014

In [349]:
# What is the highest amount of OvertimePay in the dataset?
print(f"Highest amount of overtime pay in the dataset: {round(df_salaries['OvertimePay'].max())}")

Highest amount of overtime pay in the dataset: 245132

In [355]:
# What is the average BasePay for the dataset?
print(f"Average base pay for the dataset: {df_salaries['BasePay'].mean().__round__()}")

Average base pay for the dataset: 66325

In [376]:
# What was the maximum Benefits value of all employees for the year 2014?

## Replacing string ['Not Provided'] values with [np.NaN]
df_salaries['Benefits'] = df_salaries['Benefits'].replace(['Not Provided'], np.nan)

## Converting data type to float
df_salaries['Benefits'] = df_salaries['Benefits'].astype(float)

print(f"Maximum benefits value of all employees for the year 2014: {round(df_salaries.groupby('Year').get_group(2014)['Benefits'].max())}")

Maximum benefits value of all employees for the year 2014: 96571

In [388]:
# What job title has the 2nd most number of employees in the year 2014?
print(f"Job title that has the 2nd most number of employees in the year 2014: {df_salaries.groupby('Year').get_group(2014)['JobTitle'].value_counts().keys()[1]}")

Job title that has the 2nd most number of employees in the year 2014: Special Nurse